*{
	primary : #262626;
	primary-content:#ffffff;
	accent:#3D9BE8;
	subwrap : #2196f3;
	background:#ffffff;
	secondary :#80e27e;
	background-content:#000000;
	amber:#ffc400;
	silver:#C6C6C6;
}
.view{
	-fx-pref-width: 1300.0px;
	-fx-pref-height: 650.0px;
}

.View-Wrap{
	-fx-pref-height:80.0px;
	-fx-alignment:center-left;
	-fx-spacing:10.0px;
        -fx-background-color: #3333ff;
}


.View-Item{
   -fx-pref-width: 100.0px;
   -fx-alignment: center;
}
.View-Item:hover{
	-fx-background-color: secondary;
}
.svg,.lbl{
	-fx-text-fill: white;
	-fx-fill: white;
        -fx-padding: 10.0px;
	-fx-font-size: 15.0px;
	-fx-font-weight: bold;
}

.title_wrap{
	-fx-padding:10.0px;
	-fx-alignment:center-left;
}
.title_wrap > Label{
	-fx-font-size:30.0px;
	-fx-font-weight:bold;
	
}
.Tab_wrap{
	-fx-background-color: #4267B2;
}

.sub-view{
	-fx-pref-width: 1000.0px;
	-fx-pref-height: 550.0px;
	
}
.sub-view-wrap{
	-fx-pref-height:80.0px;
	-fx-alignment:center-left;
	-fx-spacing:10.0px;
	-fx-padding:10.0px;
	
}

.combobox{
	-fx-pref-width: 150.0px;
	-fx-background-color: white;
	-fx-border-color: #4267B2;
	-fx-border-width: 1.0px;
	-fx-prompt-text-fill: primary;
}

.textfield{
	-fx-pref-width: 150.0px;
	-fx-background-color: white;
	-fx-border-color: #4267B2;
	-fx-border-width: 1.0px;
	-fx-prompt-text-fill: primary;
	
}
.datepicker {
	-fx-pref-width: 150.0px;
	-fx-background-color: white;
	-fx-border-color: #4267B2;
	-fx-border-width: 1.0px;
	-fx-prompt-text-fill: primary;
}

.btn {
	-fx-pref-width: 80.0px;
	-fx-background-color: primary;
	-fx-text-fill: white;
}

.btn:hover {
	-fx-background-color: #2196F3;
}

.tableview {
	-fx-padding: 10.0 10.0 10.0 10.0px;
}

.ScrollPane{
	-fx-fit-to-width: true;
	-fx-padding: 10.0 20.0 10.0 10.0;
}

.FlowPane{
	-fx-hgap: 10.0px;
	-fx-vgap: 10.0px;
}
.flowPane{
	-fx-pref-width: 233.0px;
	-fx-pref-height: 120.0px;
	-fx-alignment: center ;
	-fx-border-color: primary;
	-fx-border-radius: 5.0px; 
}
.FlowPane > Label{
	-fx-text-fill: white;
	-fx-font-size: 15.0px;
}
.flowPane:hover{
	-fx-background-color: secondary;
	-fx-border-radius: 5.0px;
	-fx-cursor: hand;
}
.flowPane:hover > Label{
	-fx-text-fill: white;
}

.home{
	-fx-pref-width: 400.0px;
	-fx-pref-height: 530.0px;
	-fx-background-color: white ;
	-fx-alignment: top-center ;

}

.book-edit-view {
	-fx-pref-width: 400.0px;
	-fx-pref-height: 400.0px;
	-fx-background-color: white ;
}

.book-title-wrap {
	-fx-pref-height: 80.0px;
	-fx-alignment: center;
	-fx-background-color: #4267B2;
}

.book-title-wrap > Label {
	-fx-text-fill: white;
	-fx-font-family: Century;
	-fx-font-weight: bold;
	-fx-font-size: 32.0px;
}

.edit-view-item-wrap{
	-fx-alignment: center;
}

.edit-view-btn-wrap {
	-fx-alignment: center;
	-fx-padding: 30.0px;
	-fx-spacing: 10.0px;
	
}
.about-wrap{
	-fx-alignment: center;
	-fx-background-color: rgb(98.0,123.0,227.0);
}
.img-wrap{
	-fx-alignment: center;
	-fx-background-color: white;
}
.about-view{
	-fx-border-color: black ;
	-fx-border-width: 3.0px;
}
.svg-path{
	-fx-fill: blue;
	-fx-padding:20.0px;
}
.cat-label{
	-fx-font-size: 15.0px;
	-fx-font-weight: bold;
	-fx-padding: 20.0px;
}
.side-vbox{
	-fx-padding: 20.0 10.0 0.0 0.0;
	-fx-pref-width: 120.0px;
	-fx-spacing: 5.0px;
	-fx-alignment: top-center;
	-fx-background-color:rgb(64.0,64.0,64.0) ;
}
.side-vbox > Button{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-font-size: 11.0px;
	-fx-font-weight: bold;
}
.side-vbox > Button:hover{
	-fx-background-color: secondary;
	
}
.SubButton{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	
	}
	


.side-vbox-auth{
	-fx-padding: 20.0 0.0 0.0 0.0;
	-fx-spacing: 10.0px;
	-fx-alignment: top-center;
	-fx-background-color:transparent ;
}
.side-vbox-auth > Button{
	-fx-background-color: transparent;
	-fx-text-fill: black;
	-fx-font-weight: bold;
}
.side-vbox-auth > Button:hover{
	-fx-background-color: secondary;
	
}
.side-vbox-auth-svg{
	-fx-fill: white;
}
.imgwrap{
	-fx-pref-height: 150.0px;
	-fx-alignment: center;
}
.card-edit-view {
	-fx-pref-width: 400.0px;
	-fx-pref-height: 600.0px;
	-fx-background-color: white ;
	-fx-alignment: top-center ;
}

.card-title-wrap {
	-fx-pref-height: 80.0px;
	-fx-alignment: center;
	-fx-background-color: #4267B2;
}

.card-title-wrap > Label {
	-fx-text-fill: white;
	-fx-font-family: Century;
	-fx-font-weight: bold;
	-fx-font-size: 32.0px;
}

.donator-edit-view {
	-fx-pref-width: 400.0px;
	-fx-pref-height: 450.0px;
	-fx-background-color: white ;
	-fx-alignment: top-center ;
}

.donator-title-wrap {
	-fx-pref-height: 80.0px;
	-fx-alignment: center;
	-fx-background-color: #4267B2;
}

.donator-title-wrap > Label {
	-fx-text-fill: white;
	-fx-font-family: Century;
	-fx-font-weight: bold;
	-fx-font-size: 32.0px;
}

.showTotal{
	-fx-background-color: transparent ;
	-fx-alignment: center-right ;
	-fx-pref-height: 10.0px;
}
.showTotal > Label{
	-fx-font-size: 15.0px;
	-fx-font-weight: bold;
	-fx-padding: 10.0px;
}

.alert-view{
-fx-pref-height: 200.0px;
-fx-pref-width: 300.0px;
-fx-border-color: #2196F3;
-fx-border-width: 1.0px;

}
.alert-view-wrap{
	-fx-background-color: #2196F3;
	-fx-pref-height: 50.0px;
	-fx-font-weight: bold;
	-fx-alignment: center-left ;
	-fx-padding: 10.0px;
}
.alert-view-wrap > Label{
	-fx-font-size: 20.0px;
	-fx-text-fill: white ;
	-fx-font-weight: bold;
}
.alert-svg-wrap{
	-fx-padding: 10.0px;
	-fx-spacing: 10.0px;
	-fx-alignment: center-right ;
}
.alert-svg-wrap > Button{
	-fx-pref-width: 80.0px;
	-fx-text-fill: #2196F3;
	-fx-font-size: 15.0px;
	-fx-font-weight: bold;
	-fx-background-color: transparent;
	-fx-border-color: #2196F3;
	-fx-border-width: 1.0px;
}
.alert-svg-wrap > Button:hover{
	-fx-background-color: primary;
}
.alert-contentText{
	-fx-pref-height: 100.0px;
	-fx-padding: 10.0px;
	-fx-border-width: 1.0 0.0 0.0 0.0;
	-fx-border-color: black;
}
.alert-contentText > Label{
	-fx-font-family: Century;
	-fx-font-size: 15.0px;
	-fx-font-weight: bold;
	
}

.confirm-view{
    -fx-pref-height: 200.0px;
    -fx-pref-width: 300.0px;
    -fx-border-color: #2196F3;
    -fx-border-width: 1.0px;

}
.confirm-view-wrap{
	-fx-background-color: #2196F3;
	-fx-pref-height: 50.0px;
	-fx-font-weight: bold;
	-fx-alignment: center-left ;
	-fx-padding: 10.0px;
}
.confirm-view-wrap > Label{
	-fx-font-size: 20.0px;
	-fx-text-fill: white ;
	-fx-font-weight: bold;
}
.confirm-svg-wrap{
	-fx-padding: 10.0px;
	-fx-spacing: 10.0px;
	-fx-alignment: center-right ;
}
.confirm-button-wrap{
	-fx-padding: 10.0px;
	-fx-spacing: 50.0px;
	-fx-alignment: center;
}
.confirm-button-wrap > Button{
	-fx-pref-width: 100.0px;
	-fx-text-fill: #2196F3;
	-fx-font-size: 15.0px;
	-fx-font-weight: bold;
	-fx-background-color: transparent;
	-fx-border-color: #2196F3;
	-fx-border-width: 1.0px;
}
.confirm-button-wrap > Button:hover{
	-fx-background-color: primary;
}
.confirm-svg-wrap > Button:hover{
	-fx-background-color: primary;
}
.confirm-contentText{
	-fx-pref-height: 100.0px;
	-fx-padding: 10.0px;
	-fx-border-width: 1.0 0.0 0.0 0.0;
	-fx-border-color: black;
}
.confirm-contentText > Label{
	-fx-font-family: Century;
	-fx-font-size: 15.0px;
	-fx-font-weight: bold;
	
}
.donator-view{
	-fx-pref-width: 400.0px;
	-fx-pref-height: 350.0px;
}

.chartLabel-wrap{
	-fx-pref-height: 60.0px;
	-fx-alignment: center ;
    -fx-padding: 10.0px;
}
.chartLabel-wrap > Label{
	-fx-text-fill: black;
	-fx-font-family: Century;
	-fx-font-size: 30.0px;
	-fx-font-weight: bold;
}

/*********** Login Window ****************/

.login-window{
	-fx-pref-width:650px;
	-fx-pref-height:350px;
	-fx-background-color:primary;
}

.login-window-icon-wrapper{
	-fx-pref-width:280px;
	-fx-alignment:center;
	-fx-background-color: white;
	-fx-spacing:10px;
}

.login-window-icon-wrapper SVGPath{
	-fx-fill:primary-content;
	-fx-scale-x:3;
	-fx-scale-y:3;
}

.login-window-icon-wrapper .label{
	-fx-font-family: Century;
	-fx-font-size:25px;
	-fx-font-weight: bold;
	-fx-text-fill:primary;
}

.login-form{
	-fx-alignment:center;
	-fx-padding:30px 30px;
	-fx-spacing:20px;
}
.login-form-message{
    -fx-text-fill:red;
}

.login-form-user-icon{
	-fx-fill:primary-content;
	-fx-scale-x:1.2;
	-fx-scale-y:1.2;
}

.login-form .text-field{
	-fx-background-color:transparent;
	-fx-border-color:primary-content;
	-fx-text-fill:primary-content;
	-fx-background-radius:0px;
	-fx-border-radius:0px;
	-fx-border-color:primary-content;
}

.login-form .text-field:focused{
	-fx-border-color:accent;
}

.form-input-group{
	-fx-spacing:5px;
}

.form-input-group .label{
    -fx-text-fill:primary-content;
}

.login-button-wrapper{
	-fx-spacing:20px;
	-fx-padding:5px;
	-fx-alignment:center;
}

.login-button{
	-fx-pref-width:50px;
	-fx-pref-height:50px;
	-fx-background-color:primary;
	-fx-background-radius:25px;
	-fx-border-color:primary-content;
	-fx-border-radius:25px;
	-fx-alignment:center;
}

.login-button SVGPath{
	-fx-fill:primary-content;
	-fx-scale-x:1;
	-fx-scale-y:1;
}

.login-button:hover{
    -fx-background-color:primary;
    -fx-background-radius:25px;
	-fx-border-color:#2196F3;
	-fx-border-radius:25px;
}

.login-button:hover SVGPath{
	-fx-fill:primary-content;
}

/** Table View */
.table-view{
    -fx-background-color:background;
    -fx-border-color:black;
    -fx-selection-bar:skyblue;
    -fx-selection-bar-non-focused:silver;
}

.table-view .column-header{
    -fx-background-color:amber;
    -fx-font-size:12px;
    -fx-font-family:Arial;
    -fx-text-fill:black;
}

.table-view .table-cell{
    -fx-font-size:11px;
    -fx-text-fill:background-content;
    -fx-padding:0 5 0 5;
}

.table-view .scroll-bar{
    -fx-pref-width:0px;
    -fx-pref-height:0px;
}

.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}




